<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    </head>
    <style>
        a    {color: white;
                text-decoration: none;
              }
        a:hover {color: black;}
        #text {
            position: relative;
            padding-top: 1%;
            width:60%;
            margin:0 auto;
         }
    </style>
   <body>
   <div style="position:relative">
        <div style="background-color:#4285F4;width:100%;height:20%;position:relative;font-family:'Roboto';">
            <div style="padding-top:20px;padding-left:20px;color:white; font-size:40;">
                <a href="..">TWEESTAT</a>
            </div>
            <div style="position:absolute;right:0;bottom:0;padding-bottom:15px; padding-right:45px;color:white; font-size:25;">
            <a href="../about">About</a>
            <a style="padding-left:20px" href="../faq">FAQ</a>
   </div >
        </div>
   </div>
            <div id="text">
                <h2 align="center" style>FAQ</h2>
                <h4><u>Question1</u></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae scelerisque metus. Fusce lobortis, turpis non varius vehicula, erat turpis lobortis ex, vitae ultricies est nibh nec dui. Nam volutpat ut nisl sit amet accumsan. Fusce sem diam, venenatis ut massa vitae, blandit gravida lectus. Suspendisse interdum aliquam nisl vel faucibus.</p>
                <h4><u>Question2</u></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae scelerisque metus. Fusce lobortis, turpis non varius vehicula, erat turpis lobortis ex, vitae ultricies est nibh nec dui. Nam volutpat ut nisl sit amet accumsan. Fusce sem diam, venenatis ut massa vitae, blandit gravida lectus. Suspendisse interdum aliquam nisl vel faucibus.</p>
                <h4><u>Question3</u></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae scelerisque metus. Fusce lobortis, turpis non varius vehicula, erat turpis lobortis ex, vitae ultricies est nibh nec dui. Nam volutpat ut nisl sit amet accumsan. Fusce sem diam, venenatis ut massa vitae, blandit gravida lectus. Suspendisse interdum aliquam nisl vel faucibus.</p>


            </div>
   </body>
</html>